body {
  margin: 0;
  width: auto;
  background: #202020;
  color: #808080;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #00d9ff;
}

.masonry-layout {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.masonry-layout__panel {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding: 5px;
}
.masonry-layout__panel-content {
  padding: 10px;
  border-radius: 10px;
}
.bg--red {
  background-color: transparent;
  border: 2px solid rgb(255, 0, 0);
}
.bg--green {
  background-color: transparent;
  border: 2px solid #17a2b8;
}
.bg--purple {
  background-color: transparent;
  border: 2px solid rgb(247, 0, 255);
  background: aqua;
}
.bg--orange {
  background-color: transparent;
  border: 2px solid rgb(255, 166, 0);
}
.bg--white {
  hyphens: auto;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}
hr {
  background-color: #17a2b8;
  height: 1px;
  border: 0;
}
